{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block login %}
<main class="d-flex align-items-center min-vh-100">
    <div class="container text-center px-0">
        <div class="d-flex justify-content-evenly gap-5 row-gap-5">
            <div class="col-6 m-0 me-lg-5 pe-lg-5">
                <h1 class="fw-semibold shadow-lg">Inscrivez-vous maintenant</h1>
                <a class="btn rounded bg-primary text-white text-light-emphasis mt-3" href="/signup">S'inscrire</a>
            </div>
            <div class="col-6 m-0 ms-lg-5 ps-lg-5">
                <h1 class="fw-semibold">Connectez-vous</h1>
                <form method="post" action="{% url 'authentication:login' %}">
                    {% csrf_token %}
                    <div class="input-group mb-3 shadow-lg">
                        <input type="text" name="username" autocomplete="username" class="form-control text-center" placeholder="nom d'utilisateur" required>
                    </div>
                    <div class="input-group mb-3 shadow-lg">
                        <input type="password" name="password" autocomplete="current-password" placeholder="mot de passe" class="form-control text-center" required>
                    </div>
                    <button type="submit" class="btn rounded bg-primary text-white text-light-emphasis">Se connecter</button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock login %}