{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
<div class="d-flex min-vh-100 text-center align-items-center justify-content-center flex-column">
    <div class="p-2">
        <h1 class="fw-bold">Merci de votre visite, cher lecteur ! À bientôt.</h1>
    </div>
    <div class="p-2 fw-semibold">Vous serez redirigé vers la page d'accueil dans <span id="countdown">3</span> secondes...</div>
</div>
<!-- script js pour compte-à-rebours avant redirection vers url de login.html -->
<script>
    let countdown = 3
    const countdownElement = document.getElementById('countdown')
    const countdownInterval = setInterval(function() {
        countdown--
        countdownElement.textContent = countdown;
        if (countdown <= 0) {
            clearInterval(countdownInterval);
            window.location.href = '/'
        }
    }, 1000);
</script>
{% endblock content %}