{% load static %}
<header class="literata-900 sticky-top">
    <nav class="navbar header-gradient border-bottom border-warning">
        <div class="container-fluid d-flex align-items-center position-relative">
            <div class="d-none d-sm-flex literata-400 position-absolute start-1"> {{ user.username }} </div>
            <div class="d-sm-none w-100 text-center literata-300 m-0"> {{ user.username }} </div>
            <div class="d-flex justify-content-center w-100">
                <a class="navbar-brand fs-1 fw-bold mb-0" href="/">
                    <img src="{% static 'images/LITrevu.png' %}" alt="Logo du site LITReview" width="70" height="70" class="">
                    Revue Littéraire
                </a>
            </div>
            <div class="d-none d-xl-flex position-absolute mt-1 end-0">
                <a class="btn btn-outline-warning text-light literata-400 me-2" href="{% url 'blog:flux' %}">Flux</a>
                <a class="btn btn-outline-warning text-light literata-400 me-2" href="{% url 'blog:mesposts' %}">Posts</a>
                <a class="btn btn-outline-info text-light literata-400 me-2" href="{% url 'blog:mesabonnements' %}">Abonnements</a>
                <a class="btn btn-outline-danger text-light literata-400 me-1" href="{% url 'authentication:logout' %}">Se déconnecter</a>
            </div>
            <div class="d-xl-none w-100 text-center mt-xl-2 m-0">
                <a class="btn btn-outline-warning literata-400" href="{% url 'blog:flux' %}">Flux</a>
                <a class="btn btn-outline-warning literata-400" href="{% url 'blog:mesposts' %}">Posts</a>
                <a class="btn btn-outline-info literata-400" href="{% url 'blog:mesabonnements' %}">Abonnements</a>
                <a class="btn btn-outline-danger text-light literata-400" href="{% url 'authentication:logout' %}">Se déconnecter</a>
            </div>
        </div>
    </nav>
</header>